body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button{
    background-color: #58c35b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
.centered-contenet{
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.centered-contenet img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.btn{
    margin-top: 20px;
    font-size: 16px;
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: white 2px solid;
    border-radius: 10px;
}

label{
    margin: 10px 0 5px 10px;
    font-weight: bold;
}

input, textarea{
    margin: 0 10px 10px 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}   

input[type="submit"]{
    background-color: #2772af;
    color: white;
    border: none;
    cursor: pointer;
}
input[type='text']:focus, input[type='email']:focus, textarea:focus{
    border-color: #2772af;
    box-shadow: 0 0 5px rgba(39, 114, 175, 0.5);
    outline: none;
}

.success-message{
    color: green;
    font-weight: bold;
    margin-top: 20px;
}