{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="centered-contenet">
        <img src="{% static 'images/Image20251212122004.png' %}" alt="MyLogo">
        <form action="{% url 'contact' %}" method="get">
            <button type="submit" class="btn">Click to enter form</button>
        </form>
    </div>
</body>
</html>